<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
    <table style="width:100%">
        <tr>
            <th>Email</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
        </tr>
        <% for (let i=0; i < dataTable.length; i++) { %>
            <tr>
                <td>
                    <%=dataTable[i].firstName%>
                </td>
                <td>
                    <%=dataTable[i].lastName%>
                </td>
                <td>
                    <%=dataTable[i].password%>
                </td>
                <td>
                    <%=dataTable[i].email%>
                </td>
                <td>
                    <a href="/edit-crud?id=<%=dataTable[i].id%>">Update</a>
                    <a href="/delete-crud?id=<%=dataTable[i].id%>">Delete</button>
                </td>
            </tr>
            <% } %>

    </table>
</body>

</html>